div{
    width: 500px;
    border: 2px solid red;
    margin: 20px auto;
}

h1{
    color: blue;
    font-size: 60px;
}

@media screen and (max-width:600px){ 
    h1{
        color: pink;
        font-size: 120px;
    }
}

@media screen and (min-width:900px){ 
    h1{
        color: green;
        font-size: 100px;
    }
}

@media screen and (orientation:landscape),(max-width:560px) {
    h1{
        color: blueviolet
    }
}
    
@media screen and (orientation:portrait), (max-width:560px){
    h1{
        color: yellowgreen;
    }
}